* {
    margin: 0;
    box-sizing: border-box;
    /* background-color: aquamarine; */
}

input {
    display: flex;
    /* margin: 8% 6%; */
}

.block {
    border: thin tomato solid;
    width: max-content;
    padding: 4%;
}
.Logo {
    left: 45%;
    position: absolute;
    top: 9%;
    width: 20vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.LogoImg {
    max-width: 15vh;
}
.menu-icon {
    text-align: right;
}
.burger-menu,
.close-menu {
    font-size: 2em;
    position: absolute;
    left: 1%;
    top: 1%;
}
.burger-menu {
    top: 4%;
}
.burger-menu::before {
    content: "≡";
}

.close-menu::before {
    content: "×";
    background-color: white;
}
.profile {
    position: absolute;
    right: 1%;
    top: 10%;
}
.nav-menu {
    display: grid;
    grid-template-columns: repeat(6, auto);
    grid-gap: 12vh;
    list-style: none;
    /* position: absolute; */
}

.ReactModal__Overlay {
    opacity: 0;
    transform: translateY(-3vh);
    transition: all 500ms ease;
}

.ReactModal__Overlay--after-open {
    opacity: 1;
    transform: translateY(0px);
}

.ReactModal__Overlay--before-close {
    opacity: 0;
    transform: translateY(-6vh);
}

.navbar-container {
    display: flex;
    height: 80px;
}
.navbar {
    display: flex;
    height: 80px;
    justify-content: center;
    margin-top: 3%;
}
.nav-links {
    text-decoration: none;
    color: tomato;
}
.nav-links:hover {
    border-bottom: 4px solid darkblue;
    /* text-shadow: hotpink 1px 0 10px; */
    transition: all 0.2s ease-out;
}
.profilepic {
    /* border: #bfbdbd 3px solid; */
    /* border-radius: 50%; */
    right: 2px;
    top: 9%;
    position: absolute;
    max-width: 12vh;
    overflow: auto;
    max-height: 12vh;
}

.profilepic img {
    width: 100%;
}
.Uploader {
    padding: 3%;
    display: flex;
    justify-content: center;
    margin: 20% 0;
}
.bigger .profilepic {
    left: 5%;
    top: 30%;
    position: absolute;
    min-width: 35vh;
    object-fit: cover;
    overflow: auto;
    min-height: 35vh;
}

.profile-info {
    display: flex;
    flex-flow: column;
    align-items: center;
    border: crimson solid;
    margin-top: 25%;
    margin-left: 40%;
    margin-right: 10%;
    padding: 10%;
}

.chat-block {
    position: absolute;
    top: 40%;
    text-align: center;
    height: 300px;
    width: 80%;
    overflow-y: scroll;
    scroll-behavior: smooth;
}
.chat-block p {
    color: tomato;
    padding: 4%;
}
.chat-img {
    position: absolute;
    max-width: 12%;
    max-height: 12vh;
    width: 80px;
    height: 80px;
    object-fit: cover;
    left: 5%;
    border-radius: 50%;
}
/* .wannabes-sec,
.friends-sec {
    /* display: flex;} */

.friends-block,
.wannabes-block {
    /* position: absolute; */
    top: 35vh;
}

.friends-block img.profilepic,
.wannabes-block img.profilepic {
    border: solid;
    position: relative;
}

.find-block {
    position: absolute;
    top: 40%;
}
.wall-block {
    position: absolute;
    top: 70%;
    left: 30%;
}
