* {
    margin: 0;
    box-sizing: border-box;
    /* background-color: aquamarine; */
}
body {
    background: blanchedalmond;
    /* background-image: url("/javardh-2q6C5zDJOsg-unsplash.jpg"); */
    background-size: cover;
    background-position: left;
    /* color: whitesmoke; */
    margin: 3%;
}
input {
    display: flex;
    /* margin: 8% 6%; */
}

.block {
    border: thin tomato solid;
    width: max-content;
    padding: 4%;
}
